{% extends "home/base.html" %}

{% block content %}
    <div class="container mt-5 " style="width: 70%;">
        <small class="d-flex justify-content-between"><div>Logged in as : <span class="text-primary text-uppercase">{{request.user.username}}</span></div>
             <span class="text-danger font-weight-bold"><a href="{% url 'logout' %}">Logout</a></span> </small>
        <h1>My todo's</h1>
    </div>
    <div class="container bg-light mt-5 p-3 rounded-3" style="width: 70%;">
        <form action="{% url 'abc' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for='title'>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter title for your todo">
            </div>
            <div class="form-group">
                <label for='description'>Description</label>
                <textarea name="description" class="form-control" id="description" placeholder="Enter description for your todo"></textarea>
                <!-- <input type="text" class="form-control" name="title" placeholder="Enter title for your todo"> -->
            </div>
            <button class="btn btn-primary mt-2" type="submit">Save</button>
        </form>
    </div>
    <div class="container bg-light mt-2 p-3 rounded-3" style="width: 70%;">
        {% if not todos %}
            <h4>No new Todos</h4>
        {% endif %}
        {% for todo in todos %}
        <div class="border-bottom py-2 d-flex justify-content-between">
            <div>
            {% if todo.is_completed %}
                <strike><h2>{{todo.title}}</h2></strike>
                <p>{{todo.description}}</p>

            {% else %}
                <h2>{{todo.title}}</h2>
                <p>{{todo.description}}</p>
            {% endif%}
        </div>
        <div>
            {% if todo.is_completed %}
            <button class="btn btn-success disabled">Completed</button>
            {% else %}
            <a href="{% url 'complete' todo.id %}"><button class="btn btn-success">Complete</button></a>
            {% endif %}
            <a href="{% url 'update' todo.id %}"><button class="btn btn-info">Edit</button></a>
            <a href="{% url 'delete' todo.id %}"><button class="btn btn-danger">Delete</button></a>
        </div>
        </div>
    {% endfor %}
    </div>



    {% endblock content %}


